@using Questionary.Web.Areas.Admin.ViewModel.AdminViewModel
@model AdminEventViewModel;

@{
    ViewData["Title"] = "Добавление студента";
}
<h2>Добавление студента</h2>
<form method="post">
    @Html.HiddenFor(x => x.Event.Id)
    <div>
        <label>
            Название мероприятия
            @Html.TextBoxFor(x => Model.Event.Name, new { @class = "form-control"})
        </label>
    </div>

    <div>
        <label>
            Начало мероприятия
            <input type="date" asp-for="Event.DateStart" class="form-control" />
        </label>
    </div>

    <div>
        <label>
            Конец мероприятия
            <input type="date" asp-for="Event.DateAnd" class="form-control" />
        </label>
    </div>

    <div>
        <label>
            
            @Html.DropDownListFor(x => Model.Event.ImportantId, Model.ImportantsList,  new { @class = "form-control"} )
        </label>
    </div>


    <input type="submit" value="Редактировать" />

</form>
<script src="~/js/datepicker.min.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        $(".datepicker").datapicker();
    });
</script>