@using Questionary.Web.Areas.Admin.ViewModel.AdminViewModel
@model AdminEventViewModel;
@{
    ViewData["Title"] = "Список мероприятий";
}


<div class="container my-5">
    <table class="table">
        <thead>
            <tr>
                <th>Наименование мероприятия</th>
                <th>Дата начала мероприятия</th>
                <th>Дата конца мероприятия</th>
                <th>Категория мероприятия</th>
                
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.DateStart.ToString("dd.MM.yyyy")</td>
                    @if( item?.DateAnd != null)
                    {
                        <td>@item.DateAnd.Value.ToString("dd.MM.yyyy")</td>
                    }
                    else
                    {
                        <td></td>
                    }

                    <td>@item.ImportantId</td>
                    <td><a type="button" class="btn btn-primary" href="~/Admin/AdminEvent/Edit/@item.Id">Редактировать</a></td>
                    <td><a type="button" class="btn btn-danger" href="~/Admin/AdminEvent/Delete?id=@item.Id">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a type="button" class="btn btn-primary" href='/Admin/AdminEvent/Create'>Добавить</a>
    </div>
</div>