@using Questionary.Web.Areas.Admin.ViewModels.AdminViewModel;
@model AdminCustomerServiceViewModel;
@{
    ViewData["Title"] = "Список Услуг";
}



<div class="container my-5">
    <h1 class="personal_area_h1">Услуги</h1>
    <div class=" " style="display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  
    margin-right: 0px;
    margin-left: 0px;">
       
    @foreach (var item in Model.Customers)
            {
            <div class="card" style="width: 18rem; 
    ">
            @if (item?.Photo != null)
            {
                    <img src="@item.BasePhoto64" class="card-img-top" style="height: 100%;" alt="">
            }
            else
            {
                    <img src="" class="card-img-top" style="height: 100%;" alt="">
            }
        
        <div class="card-body" style="text-align: center;">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Price.ToString("C")</p>
        </div>
        
        <div class="card-body">
                    <a href="#" class="card-link" style="text-align: center;">Добавить в заказ</a>
           
        </div>
    </div>

    }
    
    </div>
</div>
    