@using Questionary.Web.Areas.Admin.ViewModel.AdminViewModel
@model AdminCardTeamUserViewModel;
@{

    ViewData["Title"] = "Список мероприятий";
}

<style>
    .columnTextOverflow {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .button_pagination {
        display: flex;
        justify-content: space-around;
    }
</style>


<div class="container my-5">
<table class="table">
    
    <tbody class="cardItemUser" id="adminCardItem">
    </tbody>
</table>
    <div>
        <a type="button" class="btn btn-primary" href='/Admin/AdminCardTeamUser/Create'>Добавить</a>

    </div>

<div class="button_pagination"> 
<button type="button" class="btn btn-dark" id="prevPage">Назад</button>
<button type="button" class="btn btn-dark" id="nextPage">Вперед</button>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $ (function  () {
        var url = '@Html.Raw(Url.Action("AdminCardIndexInTable", "AdminCardTeamUser"))';
        $.get(url, function (response) {
            $('#adminCardItem').html(response);
        });
    });


</script>