@using Moto.Web.Areas.Admin.ViewModel;
@model EventViewModel;

 <style>
     .name{
        margin-left: 50%;
        margin-top: 15%;
        justify-content: center;
        color: white;
        display: flex;
        position: absolute;
     }

    .name1 {
        margin-left: 50%;
        margin-top: 16%;
        justify-content: center;
        color: white;
        display: flex;
        position: absolute;
    }

    .name2 {
        margin-left: 50%;
        margin-top: 17%;
        justify-content: center;
        color: white;
        display: flex;
        position: absolute;
    }
     .photoEvent{
        width: 100%;
     }
 </style>
 
<div class="name">
   
        @Model.EventDto.DateRange
  
</div>
<div class="name1">

    @Model.MonthName
</div>
<div class="name2">
    @Model.EventDto.Name
    
</div>
<div >
    <img class="photoEvent" src="/img//pictures/EventPgoto.jpg"> />
</div>


<div class="container">
    

    <div>
        <p>@Model.EventDto.InfoEvent</p>
    </div>

</div>

