@using Moto.Web.Areas.Admin.ViewModel;
@model EventViewModel;

<style>
    .photo_backgraond {
        background-repeat: no-repeat;
        background-image: url(/img//pictures/EventPgoto.jpg);
        width: 100%;
        height: 70vh;
        background-size: cover;
        background-position: center center;
    }


    .All_items {
        text-align: center;
        position: absolute;
        color: white;
        right: 0;
        left: 0%;
        top: 40%;
        margin: 0 auto;
        transform: translate(0, -50%);
    }

    .name2 {
        font-size: 50px;
    }

    .name3 {
        font-size: 20px;
    }

    .ddd{

    }
</style>

<div class="photo_backgraond">
    @*<img class="photoEvent" src="/img//pictures/EventPgoto.jpg"> />*@
    <div class="All_items">
        <div class="name3">

            @Model.EventDto.DateRange

        </div>
        <div class="name3">

            @Model.MonthName
        </div>
        <div class="name2">
            @Model.EventDto.Name

        </div>
    </div>
</div>


<div class="container">

    <div class="ddd" style="padding-bottom: 5%;
    padding-top: 5%;">


        <div style="word-wrap: break-word; column-count: 2;">
            @Model.EventDto.InfoEvent
        </div>
        
    </div>
</div>

