@using Questionary.Web.Areas.Admin.ViewModels.AdminViewModel;
@model CardNameOnPutMoneyViewModel

<style>
    .modal-dialog {
        max-width: 60vw;
    }

    .modal-content {
        border-radius: 20px;
    }

    .modal-body {
        padding: 0;
    }

    .modal-dialog-centered {
        justify-content: space-around;
    }

    .buttonnext {
        position: absolute;
        z-index: 99;
        right: 0;
        /*left: 0;*/
        top: 50%;
        transform: translate(100%, -50%);
    }

    .buttonprev {
        position: absolute;
        z-index: 99;
        /* right: 0;*/
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
    }

    .blocperson {
        position: relative;
    }

    .imgPput_money {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

        .imgPput_money img {
            width: 10rem;
            margin: auto;
        }
</style>

<div>
@*<div style="
    padding: 5%;
">
    <div class="form_lable_with_input">
        <label style="background: #FCC000;
    text-align: center;
    width: 25px;
    border-radius: 30px;">
            1
        </label>
        <label class="w-50" style="padding-bottom: 0.4rem;">
            Введите сумму для пополнения

        </label>
    </div>
    <div style="position: relative;margin-bottom: 0.2rem; max-width: 38%;">
        <p style="padding: 0.8em;
    top: calc(50%-10px);
    top: calc(50%-10px);
    position: absolute; right: 0;">₽</p>
        <input class="input_wiht_modal" style="border-radius: 10px;
    width: 25rem;
    
    padding: 10px 25px;" type="text" value="" />
        
    </div>
    <div class="form_lable_with_input">
        <label style="background: #FCC000;
    text-align: center;
    width: 25px;
    border-radius: 30px;">
            2
        </label>
        <label class="w-50">
            Способ пополнения счета

        </label>
    </div>
    <div class="imgPput_money">

        <img src="/img//pictures/kivi.png" />

        

    </div>*@

    <form method="post" action="CardPushMoney" enctype="multipart/form-data">
      @Html.HiddenFor(x=>x.User.Id)

        <div>
            <label>
                Ведите сумму
                @Html.TextBoxFor(x => x.CardNameOnputMoneyDto.Price, new { @class = "form-control"})
                
            </label>
        </div>

        <div>
            <label>
                Выбирите карту для пополнения
                @Html.DropDownListFor(x => x.CardNameOnputMoneyDto.CardId, Model.BankCards,  new { @class = "form-control"} )
            </label>
        </div>
       

        <input type="submit" value="Сохранить" />

    </form>
</div>