<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="ExecuteURL" defaultPath="/Error/NotFound">
		<remove statusCode="404"/>
		
		<error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL"/>
		
	</httpErrors>
</configuration>