
@using Questionary.Web.Areas.Admin.ViewModels.AdminViewModel;
@model AdminFormedTeamViewModel;

<style>
    .textArea {
        height: 300px;
        width: 480px;
    }
</style>

@{
    ViewData["Title"] = "Добавление Блока под гланым названием мотокрос";
}
<div class="container">
    <h2>Редактирование Блока под гланым названием мотокрос</h2>
<form method="post" >
    @Html.HiddenFor(x => x.FormedTeam.Id)
   
    <div >
        <label>
            Название мероприятия
                @Html.TextAreaFor(x => Model.FormedTeam.Title, new { @class = "form-control textArea"})
        </label>
    </div>
    <div >
        <label>
            Название мероприятия
                @Html.TextAreaFor(x => Model.FormedTeam.Description, new { @class = "form-control textArea"})
        </label>
    </div>

   

    <input type="submit" value="Редактировать" />

</form>

</div>