
@using Questionary.Web.Areas.Admin.ViewModels.AdminViewModel;
@model AdminFormedTeamViewModel;
@{
    ViewData["Title"] = " Блока под гланым названием мотокрос";
}


<div class="container my-5">
    <table class="table">
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Текст</th>
                
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListFormedTeam)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>

                    <td><a type="button" class="btn btn-primary" href="~/Admin/AdminFormedTeam/Edit/@item.Id">Редактировать</a></td>
                    <td><a type="button" class="btn btn-danger" href="~/Admin/AdminFormedTeam/Delete?id=@item.Id">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a type="button" class="btn btn-primary" href='/Admin/AdminFormedTeam/Create'>Добавить</a>
    </div>
</div>