
@using Questionary.Web.Areas.Admin.ViewModels.AdminViewModel;
@model AdminCustomerServiceViewModel;
@{
    ViewData["Title"] = "Список Услуг";
}


<div class="container my-5">
    <table class="table">
        <thead>
            <tr>
                <th>Наименование Услуги</th>
                <th>Цена</th>            
                <th>Фото</th>
                
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C")</td>
                   

                    @if (item?.Photo != null)
                    {
                        <td><img class="img_admin_photo" src="@item.BasePhoto64" alt=""></td>
                    }
                    else
                    {
                        <td></td>
                    }



                    <td><a type="button" class="btn btn-primary" href="~/Admin/AdminCustomerService/Edit/@item.Id">Редактировать</a></td>
                    <td><a type="button" class="btn btn-danger" href="~/Admin/AdminCustomerService/Delete?id=@item.Id">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a type="button" class="btn btn-primary" href='/Admin/AdminCustomerService/Create'>Добавить</a>
    </div>
</div>