@using Domain.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Админ";
}
<div class="text-center">
    <h1 class="display-4">Добро пожаловать Админ</h1>
</div>

