@using Questionary.Web.Areas.Admin.ViewModels.AdminViewModel;
@model CardNameOnPutMoneyViewModel

@{
    ViewData["Title"] = "Добавление Карты";
}

<div class="container">
    <h2>Добавление Карты</h2>
    <form method="post" enctype="multipart/form-data">

        <div>
            <label>
                Номер карты
                @Html.TextBoxFor(x => Model.cardNameOnputMoneyDto.Name, new { @class = "form-control"})
            </label>
        </div>

        

        <input type="submit" value="Сохранить" />

    </form>

</div>