@using Domain.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aнкета</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/questionary.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" class="btn users-btn" asp-controller="AdminEvent" asp-action="Index" type="button">Мероприятия</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" class="btn users-btn" asp-controller="AdminUser" asp-action="Index" type="button">Дополнительная инфа пользователей</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" class="btn users-btn" asp-controller="AdminCardTeamUser" asp-action="Index" type="button">Карточки команды мотокросс</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" class="btn users-btn" asp-controller="AdminFormedTeam" asp-action="Index" type="button">Добавление блока создания мотокроса</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="main">
        <section class="content-section">
            <div class="inner-section">
                @RenderBody()
            </div>
        </section>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/datepicker.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>