@using Moto.Web.Areas.Admin.ViewModels.AdminViewModel;
@model AdminBalansViewModel;

@{

    ViewData["Title"] = "Список Балансов";
}


<div class="container my-5">
    <table class="table">
        <thead>
            <tr>
                <th>Операции</th>
                <th>Сумма</th>
                <th>Дата </th>
                
                
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListBalans)
            {
                <tr>
                    <td>@item.Operation.Name</td>
                    <td>@item.BalansMoney</td>
                    <td>@item.DatePutMoney.ToString("dd.MM.yyyy HH:MM:SS")</td>
                    
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a type="button" class="btn btn-primary" href='/Admin/AdminEvent/Create'>Добавить</a>
    </div>
</div>