@using Questionary.Web.Areas.Admin.ViewModel.AdminViewModel
@model AdminImportantViewModel;

@{
    ViewData["Title"] = "Добавление Важности";
}
<h2>Редактирование важности</h2>
<form method="post">
    <div>
        <label>
            Название
            @Html.TextBoxFor(x => Model.Important.Name, new { @class = "form-control"})
        </label>
    </div>
    @*<div>
        <label>
            Цвет
            @Html.TextBoxFor(x => Model.Important.Color, new { @class = "form-control"})
        </label>
    </div>*@
     <input type="color" asp-for="@Model.Important.Color" class="form-control">

    <input type="submit" value="Редактировать" />

</form>